<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nodejs 聊天室搭建</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover" />
    <link href="/public/css/index.css" rel=stylesheet>
    <script src="/public/js/jquery.min.js"></script>
</head>
<body>
<div class="chat-wrap">
    <div class="chat-top">
        <p>瞎扯淡聊天室（<i class="js-onlineCount"></i>人在线）</p>
        <a href="javascript:void(0)" class="editname js-editname" title="修改昵称"></a>
    </div>

    <div class="chat-main">

    </div>

    <div class="chat-bot">
        <div class="chat-text"><textarea class="f-text"></textarea></div>
        <p class="chat-sub"><input class="f-submit" type="button" value="发送"></p>
    </div>


    <script src="/socket.io/socket.io.js"></script>
    <script>
        $(function () {
            var socket = io();
            var localname = localStorage.getItem("username");       //把用户名存储到localStorage里面，防止每次进入页面都要输入用户名

            //如果本地有用户名，就用本地，否则就弹出确认框输入用户名；
            if( localname =='' || localname == null ){
                var name = prompt("请输入您的昵称：");

                //判断姓名不能为空位置，就一直弹出提示。
                while( name == "" || name ==null ){
                    alert("骚年，昵称不能为空！");
                    name = prompt("请输入您的昵称：");
                }

                localStorage.setItem("username",name);

            }
            else{
                var name = localStorage.getItem("username");
            }

            /*---------------------------服务端处理----------------------------*/

            //发送昵称
            socket.emit("join", name);
            document.title = name + "的群聊！";

            //收到服务端，在线人数统计
            socket.on("connected", function (userCount) {
                $(".js-onlineCount").text(userCount);
            })
            
            //收到服务端，添加用户
            socket.on("join", function (user) {
                adduser( user );
            })

            //收到服务器，发送消息
            socket.on("msg",function (res) {
                console.log(res);
                addmsg(res.text,res.localname);
            })

            //收到服务端，修改昵称
            socket.on("editname", function (res) {
                edituser(res.name.oldname,res.name.newname,res.name.userCount);
            })



            /*-------------------------事件处理--------------------------*/
            //发送消息 - 事件
            $(".chat-bot").on("click",".f-submit",function () {
                sendmsg();
            })
            //回车
            $(".f-text").keyup(function (ev) {
                var ev = event || window.event;
                if (ev.keyCode == 13){
                    //不兼容  富文本框为空的判断
                    var value = $(this).val();
                    if (value <= 0){
                        $(".f-text").val("");
                        alert("骚年，请输入您要发送的信息！");
                        return false;
                    }
                    else{
                        sendmsg();
                    }
                }
            })

            //发送验证消息
            function sendmsg(){
                var localname = ''+localStorage.getItem("username");

                var text = $(".f-text").val();

                if (text == ''){
                    alert("骚年，请输入您要发送的信息！");
                    $(".f-text").focus();
                    return;
                }
                //将消息发送给服务器
                socket.emit("msg", {text,localname});
                $(".f-text").val("");
            }

            //修改昵称
            $(".chat-top").on("click",".js-editname",function () {
                var oldname = localStorage.getItem("username");
                var newname = prompt("请输入您的昵称：");

                if( newname=='' || newname==null ){
                    alert("请输入要更改的昵称")
                }
                else{
                    localStorage.setItem("username",newname)

                    //发送昵称
                    socket.emit("editname", {oldname,newname});
                    document.title = newname + "的群聊！";
                }
            })

            //添加用户
            function adduser(user) {
                var userhtml = '<div class="join-chat"><p>' + user + '加入了群聊</p></div>';
                $(".chat-main").append(userhtml);
            }

            //修改昵称, 更换名字广播，统计在线人数
            function edituser(oldname,newname,userCount) {
                var edithtml = '<div class="join-chat"><p>[' + oldname + ']修改了昵称:[ ' + newname + ' ]</p></div>';
                $(".chat-main").append(edithtml);
                $(".js-onlineCount").text(userCount);
            }

            //添加消息
            function addmsg(msg,nickname) {
                var nowname = localStorage.getItem("username");
                //判断是不是自己发的信息
                if ( nickname === nowname ){
                    var msghtml = '<div class="msgline mine"><div class="msg-tx">' + nickname + '</div><div class="msg-b">' + msg + '</div></div>';
                }
                else{
                    var msghtml = '<div class="msgline"><div class="msg-tx">' + nickname + '</div><div class="msg-b">' + msg + '</div></div>';
                }

                $(".chat-main").append(msghtml);
                //滚动条滚动最底部
                var scrollHeight = $('.chat-main').prop("scrollHeight");    //总高度，包括滚上去的高度和自身div高度
                //console.log(scrollHeight);
                $('.chat-main').scrollTop(scrollHeight,200);
            }


        })

    </script>
</div>
</body>
</html>